.pointer { 
  cursor: pointer;     
}
// border radius property start
.br2 {
  border-radius: 2px; 
} 
.br4 {
  border-radius: 4px;
}
.br8 {
    border-radius: 8px;
}
.br10 {
  border-radius: 10px;
}
.br20 {
  border-radius: 20px;
}
.br30 {
  border-radius: 30px;
}
.br40 {
  border-radius: 40px;
}
.br50 {
  border-radius: 50%;
}
img {
    max-width: 100%;
}
// box shadow property start
.shadow1 {
    box-shadow: 0px 0px 40px rgba(24, 61, 68, 0.5);   
}
.shadow2 {
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.10);   
}
.shadow3 {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.shadow4 {
    box-shadow: 0px 0px 20px rgba(24, 61, 68, 0.1);     
}
.shadow5 {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.lineH1 {
    line-height: 1.75rem; 
}
.elippse1 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;    
}
.elippse2 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical;
  overflow: hidden;    
}
.bgCol1 {
   background-color: $col1;
}
.bgCol2 {
  background-color: $col2;
}
.bgCol3 {
  background-color: $col3;
}
.bgCol4 {
  background-color: $col4;
}
.bgCol5 {
  background-color: $col5;
}
.bgCol6 {
  background-color: $col6;
}
.bgCol7 {
  background-color: $col7;
}
.bgCol8 {
  background-color: $col8;
}
.bgCol9 {
  background-color: $col9;
}
.bgCol10 {
  background-color: $col10;
}
.bgCol11 {
  background-color: $col11;
}
.bgCol12 {
  background-color: $col12;
}
.bgCol13 {
  background-color: $col13;
}
.bgCol14 {
  background-color: $col14;
}
.bgCol15 {
  background-color: $col15;
}
.bgCol16 {
  background-color: $col16;
}
.bgCol17 {
  background-color: $col17;
}
.bgCol18 {
  background-color: $col18;
}
.bgCol19 {
  background-color: $col19;
}
.bgCol20 {
  background-color: $col20;
}
.bgCol21 {
  background-color: $col21;
}
.bgCol22 {
  background-color: $col22;
}
.bgCol23 {
  background-color: $col23;
}
.bgCol24 {
  background-color: $col24;
}
.bgCol25 {
  background-color: $col25;
}
.bgCol26 {
  background-color: $col26;
}
.bgCol27 {
  background-color: $col27; 
}
.bgCol28 {
  background-color: $col28;   
}
.bgCol30 {
  background-color: $col30;   
}
.bgCol32 {
  background-color: $col32;   
}
.bgCol34 {
  background-color: $col34;   
}
.bgCol35 {
  background-color: $col35; 
}
.bgCol39 {
  background-color: $col39;  
}
.bgCol40 {
  background-color: $col40;    
} 
.bgCol41 {
  background-color: $col41;    
} 
.bgCol42 {
  background-color: $col42;     
}
.bgCol43 {
  background-color: $col43;     
}  
.bgCol44 {
  background-color: $col44;     
}   
.bgCol45 {
  background-color: $col45;     
}    
.bgCol46 {
  background-color: $col46;           
}    
.bgCol47 {
  background-color: $col47;           
} 
.bgCol48 {
  background-color: $col48;            
}   
.bgCol49 {
  background-color: $col49;              
}
.bgCol50 {
  background-color: $col50;               
}   





