@import "./variables.scss";
@import "../scss/modules/Buttons.scss";
@import "../scss/modules/Inputs.scss";  
@import "./common.scss";  

html,
body {          
  font-family     : $fontFamily;    
  font-size       : $baseFontSize; 
  font-weight     : 500;
  line-height     : 1.321;
  height          : 100%;
  background-color: $col3;              
}

.bgBanner {  
  background-image: url('../images/banner.png');  
  min-height: 100vh;   
  .studentBox { 
    min-height: 645px;
    padding-top: 0;
    padding-bottom: 0;  
    display: flex;
    justify-content: center; 
    align-items: center; 
    &.successBox1 {
        padding: 15px;
        min-height: 320px; 
    }
      img.logos { 
          max-width: 65px; 
      }
      .studentInfo {    
          margin-top: 85px;  
          .boxInner {
              width: 150px;
              height: 120px; 
              img {
                  width: 80px;
                  height: 80px;
              }
          }
      }
      &.registerUsers {
          padding-left: 140px; 
          padding-right: 140px;
          .studentOne {
              .socialBtn { 
                  .btnType3 { 
                      &.btnColor {
                          color: $col23 !important; 
                          border: solid 1px $col23 !important; 
                      } 
                  }
              } 
              .hrBorder {
                  border-top: solid 1px $col21; 
              }
          }
      }
  }
}

.mt-10 {
    margin-top: -4px;
}



@media print {

    .printHidden {
        display: block !important;
    }

    .pagebreak {
        break-after: always !important;
        page-break-after: always !important;
        page-break-inside: avoid !important;
    }
}

  

    .printClass {    
          background-color: #f5f5f5;
          padding:20px;              
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          min-height: 397mm;        
          font-size: 10px !important;
    }



.wizardLayout {   
  .col-mg-3 {
      padding-left: 0;
  }
  .sidebarBox { 
      background-image: url('../images/sidebar.png');  
      width: 330px;
      height: calc(100vh - 40px); 
      overflow: auto; 
      position: fixed;
      top: 0; 
      left: 0;
      bottom: 0;
      padding-top: 0;  
      padding-bottom: 70px;
      flex-wrap: wrap;
      &>.flex-column {
          flex: 100%;
          max-width: 100%;
      }
      .innerBox { 
          .profileTxt {
              position: relative;
              &:after {
                  content: "";
                  position: absolute; 
                  left: 50%;
                  bottom: -3px;
                  width: 50px;
                  height: 3px;
                  background: $col3; 
                  transform: translate(-50%, -50%); 
              }
          }
          .listBox { 
              .circleBox {
                    width: 40px;
                    height: 40px;
                    line-height: 34px;
                    border: solid 3px $col3; 
                    font-size: 18px !important; 
              }
              .titles {
                  color: $col3;
                  font-size: 13px;   
              }
              &.active {
                  .circleBox {
                      color: $col1; 
                      border: solid 3px $col1;  
                  }
                  .titles {
                      color: $col1;
                  }
              }
          }
      }
  }
  .profileTitl1 {
      position: relative; 
      &:after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: $col3;
            position: absolute;
            left: 43.5%; 
            bottom: -8px; 
      }
  }
  /* width */
.sidebarBox::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .sidebarBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 4px;
  }
   
  /* Handle */
  .sidebarBox::-webkit-scrollbar-thumb {
    background: $col20; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  .sidebarBox::-webkit-scrollbar-thumb:hover {
    background: $col20;  
  }
  .rightBox {      
      .stepTitle {
          &:before {     
              content: "";
              background: $col7;  
              position: absolute;
              bottom: 0; 
              left: 0;
              width: 93px;
              height: 4px;
              border-radius: 5px;
          }
          &:after {
            content: "";
            background: $col7;  
            position: absolute;
            position: absolute;
            bottom: 0;
            left: 96px;
            /* right: -32px; */
            width: 4px;
            height: 4px;
            border-radius: 50%;
          }
          &+.col2.fw500.fs18.pointer {
             position: absolute;
             right: -130px;
          }
      }
      .examList {  
          max-width: 850px;   
          span.circles {
              border: solid 2px $col8; 
              width: 20px;
              height: 20px;
              line-height: 17px; 
          } 
      }

      .small-examList{
        max-width: 450px; 
        span.circles {
            border: solid 2px $col8; 
            width: 20px;
            height: 20px;
            line-height: 17px; 
        }  

        }

      .hrBorder {
          border-top: solid 1px $col21;  
      }
         .col-md-3, .col-md-4, .col-md-6, .col-md-12 { 
            padding-left: 10px;
            padding-right: 10px;
        }
        .rangeSlider {
            padding-left: 7px;
        }
  }

  &.userDashboard {   
      background: $col28;  
      min-height: 100vh;   
      position: relative;     
      .sidebarBox {
          background: $col4; 
          height: calc(100vh - 0px);   
          .flex-column {
              &.nav-pills { 
                  .nav-item {  
                      padding-bottom: 0.5rem !important;    
                      .nav-link {   
                          margin-left: 24px;  
                          height: 55px; 
                          align-items: center;
                          display: flex;
                          border-radius: 47.5px 0px 0px 47.5px;
                          padding-left: 25px; 
                          > i {
                              margin-right: 12px; 
                              color: $col3; 
                              font-size: 20px; 
                              &.fa-university {
                                  font-size: 18px;
                              }
                          }
                          span.titles {    
                              color: $col3; 
                          }
                            .hideIcon1 {
                                display: none;
                            }
                            .showIcon {
                                display: block; 
                            }
                            .usershow {
                                width: 14px;
                                margin-right: 15px;
                            }
                            .dashshow {
                                width: 19px;
                                margin-right: 12px;
                            }
                          &.active { 
                            background: $col28 !important;  
                            .hideIcon1 {
                                display: block;
                            }
                            .showIcon {
                                display: none; 
                            }
                            > i {
                                color: $col4;     
                            }
                            span.titles {    
                                color: $col4; 
                                font-weight: 600 !important; 
                            }
                          }
                      }
                      
                  }
              }
          }
      }
      .dropdown-toggle::after {
          display: none;
      }
      .searchBox {  
          img.searchOne { 
            position: absolute;
            right: 17px;
            top: 10px;  
          }
      }
  }
}

.studentTable {
    thead {
        tr {
            th {
                font-size: 14px; 
                font-weight: 500;  
                min-width: 130px; 
                color: $col5; 
                background: $col3; 
                border: none; 
                text-transform: capitalize; 
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: 14px; 
                font-weight: 500; 
                min-width: 130px;  
                color: $col2; 
                border: none;   
            }
            &:nth-of-type(odd) { 
                background: $col3;
            }
            &:nth-of-type(even) {       
                background: $col40;
            }
        }
        &:before { 
            line-height: 12px; 
            // content:".";  
            display:block;
        }  
    }
    &.transactionTable {
        tbody {
            tr {
                td {
                    &:nth-child(8) {          
                        // background: $col3;   
                        min-width: 480px;       
                    }
                }  
            } 
        }
    }
    &.StudentTableOne {
        tbody {
            tr {
                td {
                    &:nth-child(9) {          
                        // background: $col3;   
                        min-width: 480px;       
                    }
                }  
            } 
        }
    }
}

.tableLayout5 {
    .tableType2 {
        thead {
            tr {
                th {
                    font-size: 15px;
                    min-width: 160px;
                    &:nth-child(9) {
                        min-width: 340px;           
                    }
                    &:nth-child(13) {
                        min-width: 250px;           
                    }
                    &:nth-child(14) { 
                        min-width: 250px;           
                    }
                }
            }
        }
        tbody {
            tr {
                td { 
                    font-size: 15px;
                    .inputType2 {
                        width: 100%;
                        max-width: 150px;
                        margin: auto;  
                    }
                    .help-block.error-text {   
                        position: relative; 
                    }
                }
            }
        }
    }
}

.pagination4 {  
    display: inline-block; 
    position: fixed;
    bottom: 40px; 
    justify-content: center;
    margin: auto;
    text-align: center; 
    left: 50%; 
    span {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
  }

.serviceBanner {
    background-image: url('../images/addservices.jpg'); 
    width: 100%;  
    background-size: cover;  
    background-repeat: no-repeat; 
    margin-bottom: 100px;  
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,  
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {    
    left: -17px !important;  
}

.hrBorderTwo {
    border-top: solid 1px $col18;     
}
.socialMedia {
    &>img {
        max-width: 40px; 
    }
}

.lgn{
    width: 50px;
    height: 50px;
    color: #fff;
    background: transparent;
}

.rangeSlider {
    .rs-slider-bar {
        background-color: $col20;  
        .rs-slider-progress-bar {
            background: $col8; 
        }
    }
    .rs-slider-handle {
        &:before {
            width: 18px; 
            height: 18px;
            bottom: -14px;
            border: 2px solid $col8; 
        }
    }
}

.flagSelect {  
    input[type=tel] {
        padding-left: 52px !important; 
    }
    .react-inputs-validation__textbox__wrapper___3tnXv {
        height: 100%;
        border: solid 1px $col21; 
        border-radius: 8px;
        overflow: hidden;
        max-height: 2.7rem;
    }
    form {    
        .react-custom-flag-select__select__dropdown-flag___4-6D7 {
            flex: 0 0 40%;  
            height: 22px; 
        }
    }
    .intl-tel-input {
        display: block; 
        .flag-container {
            .selected-flag {
                outline: 0;
            }
            .arrow {
                &.up {
                    &::after {     
                        content: "";  
                        background: url('../images/svg/arrow.svg') no-repeat !important;
                        font-size: 14px;
                        width: 15px;
                        height: 8px;
                        position: absolute;
                        top: 16px;
                        right: -1px; 
                        border-radius: 10px !important; 
                        transform: rotate(180deg); 
                        pointer-events: none; 
                    }
                }
                &.down {  
                    &::after {      
                        content: ""; 
                        background: url('../images/svg/arrow.svg') no-repeat !important; 
                        font-size: 14px;
                        font-size: 14px;
                        width: 15px;
                        height: 8px;
                        position: absolute;
                        top: 17px;
                        border-radius: 10px !important; 
                        pointer-events: none;
                    }
                }
            }
        }      
        ul.country-list {
            max-height: 178px; 
        }
    }
    .intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {    
        background-color: rgba(0, 0, 0, 0.0);
    }
}

.PlanList1 {
    border: solid 1.5px $col20; 
    border-radius: 6px; 
    margin-bottom: 30px;
    min-height: 205px; 
    position: relative;
    cursor: pointer; 
    transition: 0.5s all; 
    &.cursor-default {
        cursor: default; 
    }
    &:hover {
        box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11); 
        .col2 {
            color: $col8 !important; 
        }
    }
    &.active {    
        box-shadow: 0px 4px 10px 8px rgba(0, 0, 0, 0.15);      
        border: solid 1.5px $col8; 
        .activeColor1 {
            color: $col8 !important;   
        }
    }
    &.disabledOne { 
        box-shadow: none; 
        pointer-events: none; 
        filter: grayscale(100%);  
        .circleType3 {
            background: $col20;  
        }
        &:hover {
            box-shadow: none;  
        }
    }
    &.profilePlan {
        min-height: auto; 
    }
    &.serviceType1 {
        box-shadow: none !important; 
    }
}

.myProfileTable {
    thead {
        tr {
            th {
                font-weight: 600;
                font-size: 14px;
                color: $col2; 
            }
        }
    }
    tbody {
        tr {
            td {
                font-weight: 600;
                font-size: 14px;
                color: $col2; 
            }
        }
    }
}

.openCard {
    &.active {
        & img {
            transform: rotate(180deg); 
        }   
    }
}

.planTable {  
    tr {
        td {
            vertical-align: middle; 
            font-size: $fs15; 
            .form-group {
                .checkboxTyp3 label {    
                    margin-top: 0;
                }
            }
        }
    }
}

.rotateArrow {
    transform: rotate(180deg); 
}

.fixedSidebar {
    position: fixed; 
}

.circleType3 {       
    display: inline-block;   
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background: $col35; 
    .mw30 {
        max-width: 30px;   
    }
}

.modalType4 {
    .modal-header {
        border-bottom: none; 
        background: $col45;
        color: $col3; 
        padding: 1rem 1rem 1rem 2.5rem;   
        button.close {
            opacity: 1; 
            span {
                color: $col3;
            }  
        }
    }
    .modal-body {
        padding: 1.2rem 2.5rem;
        white-space: pre-line; 
        background: $col45;  
        color: $col3; 
        .btn-primary {
            background: $col1; 
            border-radius: 30px;
            border: solid 1px $col1; 
            padding: 6px 20px;
        }
    }
}

.collegeAdminUi {      
    .d-flex { 
        .tagTitle {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;               
        }
    }
    .dropdown-toggle {
        &:after { 
            display: none;
        }
    }
    .topHeaderBox {
        min-height: 100vh; 
    }
    .searchOne {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .bookMark {
        span {
            width: 40px;
            height: 40px; 
            line-height: 36px; 
        }
    }
}
.middileAccordian {
    .accordion {
        .card {
            background: transparent; 
            border: none;
            .card-header {
                background: $col3; 
                border-bottom: none;
                padding: 0 0; 
                &>button {
                    display: block;
                    background: transparent;
                    width: 100%;
                    text-align: left;
                    padding: .75rem 1.25rem;  
                    color: $col2;
                    font-weight: 500;
                }
                .arrowA {
                    float: right; 
                }
            } 
            
        }
    }
    .dropdown {
        .dropdown-toggle {
            &:after {
                display: none;  
            }
        }
    }
}

.filterType1 {
    .accordion {
        .card {
            background: transparent; 
            border: none;
            .card-header {
                background: $col3; 
                border-bottom: none;
                padding: 0 0; 
                &>button {     
                    display: block;
                    background: transparent;
                    width: 100%;
                    text-align: left;
                    padding: .75rem 1.25rem;  
                    color: $col2;
                    font-weight: 500;  
                    font-size: 18px; 
                }
                .arrowA {
                    float: right; 
                }
            } 
            
        }
    }
}

.paginationType4 {
    .pagination {
        .page-item {
            margin-right: 8px;
            .page-link {  
                width: 40px;
                height: 40px; 
                text-align: center;
                border-radius: 50%;
                padding: .5rem .25rem;
                background: transparent;
                border: solid 1px $col8;   
                color: $col8;
                font-size: 17px;
                font-weight: 500; 
                text-decoration: none; 
                &:hover, &:focus { 
                    box-shadow: none !important;
                }
            }
            &.active { 
                .page-link { 
                    background: $col8; 
                    border: solid 1px $col8;    
                    color: $col3; 
                }
            }
        }
    }
}

.graphSpace{
    text-align: center; 
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 20px;
}

.setingOne {  
    width: 28px; 
}
.rightSidebar { 
    .user1 {
        width: 40px;
        height: 40px;
        object-fit: cover; 
    }
    .mhSet {
        width: auto;
        max-width: 100%;
        max-height: 200px;
        object-fit: cover;
    }
    .dropdown {
        .dropdown-toggle {
            &:after {
                display: none;  
            }
        }
    }
}

.noStudent{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 100px;
}

.dropdownDisabled{
    background-color: '#ddd' !important; 
}

.tagTitle {
    border: solid 1px $col2; 
    padding: 1px 10px; 
    text-transform: uppercase;
}
.borderOne {
    border-top: 1px solid $col31; 
}
.timeOne {
    position: absolute;
    top: 10px;
    right: 15px; 
}
.borderTwo {
    border: solid 1px $col32; 
}
.flex-column {
    .nav-link {
        background: transparent !important; 
    }
}
.tab-content {
    &>.active {
        opacity: 1; 
        pointer-events: auto;
    }
}
.loginUsers {    
    padding-left: 15px;
    padding-right: 15px; 
}
.addType1 {
    span {
         border: solid 2px $col7; 
         width: 24px;
         height: 24px;
         line-height: 20px;   
         position: relative;
         top: -2px;
    }       
}
.tagType1 {
    span {
        padding: 4px 8px;
        border: solid 1px $col35;  
        margin-bottom: 15px;
        cursor: pointer; 
        &.help-block.error-text {
            padding: 0 0;
            position: relative;  
            border: none; 
            margin-bottom: 0;
            pointer-events: none;
            display: block;
            width: 100%;
            &>span {
                padding: 0 0;
                position: relative;  
                border: none; 
                margin-bottom: 0;
                pointer-events: none;
            }
        }
        &.col4 {
            &.bgCol35 {   
                color: $col8;  
            }
        }
    }
}
.tagtype2 {
    color: $col6;
    width: 100px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 8px; 
    border: solid 1px $col20; 
    margin-right: 24px;
    margin-bottom: 20px;
    &.active1 {
        border: 1px solid $col7; 
        color: $col4; 
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    &.tags4 {
        min-width: 160px;
        text-align: left;
        padding-left: 20px; 
    }
}
.priceType1 {
    .tagtype2 {
        width: auto;
        min-width: 160px; 
    }
}
.priceType2 {
    .tagtype2 { 
        width: auto;
        min-width: 220px;  
    }
}
.priceType3 {
    .tagtype2 {
        width: auto; 
        padding: 0 10px; 
    }
}
.accordianType1 {
    .card {
        border: none;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 15px; 
        .card-header { 
            background-color: $col35;
            border: solid 1px $col36; 
            border-radius: 8px !important; 
            margin-bottom: 0 !important;  
            color: $col2; 
            font-size: $fs18;
            font-weight: 500; 
            cursor: pointer; 
            position: relative; 
            &::after {
                content: ""; 
                flex-shrink: 0; 
                position: absolute;
                top: 20px;
                right: 18px;
                width: 12px;
                height: 8px;
                margin-left: auto;
                background-image: url('../images/accoricon.png'); 
                background-repeat: no-repeat;  
                transition: transform .2s ease-in-out;
            }  
        } 
    }
}

.orSet {
    position: relative;
    &::after {
        content: "OR";
        color: $col6;
        position: absolute; 
        top: -12px;
        background: $col3;
        display: inline-block;
        padding: 0 10px;
        left: 47%;
    }
}
.rightLayout {
    position: relative;
    min-height: calc(100vh - 150px);
    padding-bottom: 100px;

    .inputType1 {
        color: $col2 !important;
        &::placeholder {
            color: $col21 !important;  
        }
    }
    .form-group {
        margin-bottom: 30px !important;
    }
}
.DropdownType2 {
    .circleType3 {
        width: 15px;
        height: 15px;
        line-height: 10px; 
        border: solid 1px $col1;
        position: relative;
        top: 0px; 
        &>i {
            font-size: 10px !important;
        }
    }
    .DropdownType1 {
        padding: 0 0 !important; 
    } 
    .dropdown-menu {    
        .dropdown-item {
            font-weight: 500; 
            font-size: $fs14;
            color: $col2; 
            padding: .4rem 1.5rem;   
            &:hover, &:focus, &:active { 
                background-color: $col18;   
            }
        }
    }
}
.DropdownType3 {
    .dropdown-menu {
        background: $col3; 
        border: none; 
        padding: 0 0; 
        .dropdown-item {
            padding: .1rem 0; 
            font-size: $fs14; 
            color: $col2; 
            font-weight: $fw400; 
            &:hover, &:focus {
                background: $col3 !important;     
            }     
        } 
    }
}
.dropdownBox1 {
    .DropdownType4 {
        background: transparent !important; 
        border: none;
        padding: 0 0;
        font-size: $fs20;
        &:hover, &:focus {
            box-shadow: none !important; 
        } 
    }
    .dropdown-menu {   
        min-width: 21rem; 
        max-height: 340px;  
        overflow: auto;  
        .dropdown-item {
            font-weight: $fw500;
            padding: .4rem 1.2rem;
            margin-bottom: 12px;        
            &:hover, &:focus {
                background-color: $col35 !important;   
            } 
        }
    }
}
.awardType1 {
    margin: 0;
    padding: 0;
    width: 100%; 
    li {
        list-style: none;
        display: flex; 
        font-weight: 500; 
        color: $col2;
        margin-bottom: 7px; 
        &>img {
            width: 16px;
            height: 16px; 
            margin-right: 10px; 
            position: relative;
            top: 3px;  
        }
    }
}
.borderType5 { 
    border-bottom: solid 1px $col20; 
}
.infoIcon2 {
    max-width: 22px;
    position: relative;
    top: -4px;
}
.squareBox1 { 
    width: 120px; 
    min-width: 120px; 
    height: 115px;
    padding: 10px;
    background: $col3;   
    border: solid 1px $col2; 
    overflow: hidden; 
    &>img {
        width: auto;
        max-width: 100%; 
        object-fit: contain; 
    }
}
.bugdeTwo { 
    display: inline-block;
    width: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
    text-align: center; 
    position: absolute;
    top: 5px;
    right: 4px;
}
.bell1 {
    width: 26px; 
}
.notificationType1 {
    position: relative;
    padding: 12px; 
}
.min15 {
    margin-top: -15px;  
}
.popularType1 {
    padding-left: 25px; 
    margin-top: 10px;    
    ul {
        li {
            position: relative;
            list-style: none;
            padding-left: 20px;  
            font-size: $fs12;   
            margin-bottom: 5px;
            flex-basis: 32%;
            max-width: 32%;       
            padding-right: 10px;
            &:before {
                content: ""; 
                background-image: url('../images/svg/checkedicon.svg');   
                background-size: 14px;
                width: 14px;
                height: 14px; 
                position: absolute;
                top: 2px; 
                left: 0; 
            }
            &.flex1 {                         
                flex-basis: 100%;
                max-width: 100%; 
            }
            &.active{
                &:before {
                    content: ""; 
                    background-image: url('../images/svg/checkediconyellow.png');
                }
            }
        }
    }
    .tagTitle {          
        background: $col11;
        border: solid 1px $col11;
        color: $col10 !important; 
        font-size: 13px !important;   
    }
}
.popularType2 {       
    &>div {
        padding: 2px 10px; 
    }
}
.back1 {  
    width: 10px; 
    position: relative; 
    top: -1px; 
}
.save1 { 
    margin-top: -11px; 
}
.comparisonType1 { 
    margin-left: -15px;
    margin-right: -15px;
    overflow-x: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 40px;
    background-image: url('../images/ban1.png'); 
}
.title5 {    
    white-space: normal; 
    word-break: break-all; 
}
.comparisonType2 {    
    border: solid 1px $col20; 
    padding: 25px; 
    margin-left: 10px;
    margin-right: 10px;  
    overflow: hidden; 
}
.mt48 {
    margin-top: 50px;
    @media (min-width: 1450px) {
        margin-top: 26px;  
    }
}
.comparisonType3 {
    border: solid 1px $col20;  
    margin-left: 10px;
    margin-right: 10px;  
    overflow: hidden;   
    display: none; 
    &>div {
        padding: 20px 20px 15px;
        &:nth-child(odd) {
            background: $col3;
        }
        &:nth-child(even) {  
            background: $col40; 
        }
    }
}
.comparisonType4 {
    margin-left: 10px;
    margin-right: 10px;  
    margin-bottom: 80px; 
    overflow: hidden;  
    .tableType1 {
        tr {
            td {
                &:first-child {
                    text-transform: uppercase;   
                }
            }
        }
    }
}
.tableType1 {
    table-layout: fixed;
    border-radius: 10px !important;
    padding-bottom: 50px;
    margin-bottom: 80px
}
.tableType1 td, .tableType1 th {
    border: none !important; 
    font-weight: 500;  
}
.table-striped.tableType1 tbody tr:nth-of-type(odd) {
    background-color: $col3; 
}
.table-striped.tableType1 tbody tr:nth-of-type(even) {
    background-color: $col40; 
}
.tableType2 {
    // table-layout: fixed; 
    border-radius: 10px !important;
    padding-bottom: 50px;
    margin-bottom: 80px; 
    &.tablePreferences {
        thead {
            tr {
                th {
                    font-size: 14px;
                    vertical-align: middle;
                }
            }
        }
        tbody {               
            tr {
                td {
                    font-size: 14px;
                    vertical-align: middle;
                    &:first-child {
                        width: 200px;
                    }
                }
            }
        }
        .checkboxTyp3 {
            label {
                margin-top: 0; 
            }
        }
    }
}
.tableType2 tr > td:first-child {
    text-align: left; 
}
.tableType2 th {
    background: $col28; 
}
.tableType2 td, .tableType2 th {
    border: none !important; 
    font-weight: 500;  
    text-align: center;
}
.mapview {
    position: relative;
    top: -1px;
    left: -3px;
}
.comparisonType5 {
    margin-left: 10px;
    margin-right: 10px;  
    margin-bottom: 80px; 
    overflow: hidden; 
    .table-striped.tableType1 tbody tr:nth-of-type(odd) {
        background-color: $col3;   
    }
    .table-striped.tableType1 tbody tr:nth-of-type(even) {
        background-color: $col3;    
    }
}
.modal.show { 
    opacity: 1;
}
.ratingOne {
    &>img {
        position: relative;
        top: -3px; 
    }
}
.modalType1 {
    .modal-dialog {
        max-width: 550px;  
        border-radius: 20px;
        overflow: hidden;
    }
    .modal-body {
        padding: 1.5rem 3rem;
    }
    .modal-header {
        justify-content: center;
    }
    button {
        &.close {
            position: absolute;
            padding: 0 0;
            top: 22px;
            right: 34px; 
            span {
                font-size: 30px;
            }
        }
    }
}
.ratioType1 {  
    &>img {
        position: relative;
        top: -5px;
        left: -2px;  
    }
}
.compareBox1 {  
    overflow: hidden; 
    margin-right: 20px; 
    &>.p-3 {
        min-height: 130px;   
    } 
}
.compareBox2 {
    height: 28px; 
    padding: 8px 18px;
    &>img {
        width: 16px; 
    }
}
.compareBox3 { 
    .colom1 { 
        flex-basis: 20%;  
        max-width: 20%; 
    }
    .colom12 { 
        flex-basis: 100%;  
        max-width: 100%; 
    }
} 
.CompareBox4 {
    padding: 25px; 
    border: solid 1px $col28; 
    min-height: 240px;
}
.CompareBox5 {
    position: relative;
    min-height: 240px;
    padding: 30px 50px; 
}
.color1 {
    background: $col12;
    display: inline-block; 
    width: 12px;
    height: 12px; 
    margin-right: 7px;  
}
.tagType6 {
    &>div {
        padding: 2px 6px;  
    }
}
.tabType1 {
    nav.nav-tabs {
        border-bottom: none;
        .nav-link {
            width: 50%;
            border-top: none;
            border: none;
            background: transparent;
            text-align: center; 
            border-bottom: solid 1px $col20;   
            font-size: $fs22; 
            font-weight: $fw400;
            color: $col21; 
            &.active {
                border-bottom: solid 4px $col8; 
                font-weight: $fw600;
                color: $col8; 
            } 
        }
    }
}
.tabBox1 {
    background-image: url('../images/graph1.jpg'); 
    width: 100%;
    height: 130px;
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05); 
    border-radius: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    &>.row {
        width: 100%; 
    }
}
.tabBox2 {
    border: solid 1px $col28; 
    padding: 26px;
    padding-bottom: 10px;
}
.tabBox4 {
    border: solid 1px $col28; 
    height: 80px;
    padding: 15px 25px;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer; 
}
.summaryBox2 { 
    height: 45px;
    padding-left: 25px;
}
.summaryBox3 {
    border: solid 1px $col28; 
    height: 140px; 
    padding: 20px 25px;
    margin-bottom: 30px;
}
.summaryBox4 {
    margin-bottom: 30px;
}
.socialMedia {
    button {
        outline: 0; 
    }
    .my-facebook-button-class {  
        font-size: 0px; 
        outline: 0; 
        &>img {
            min-width: 42px;
        } 
    }
}
.footerBotton { 
    position: fixed;
    bottom: 40px;
    width: 62.7%;
    background: #ffffff;
    left: 24%;
    z-index: 9;
    padding-right: 10px;
    padding-left: 20px; 
    padding-bottom: 20px;  
    .text-right.mt-3 {
        margin-top: 0px !important;
    }
}
.numericType1 {   
    position: absolute; 
    left: -40px;          
}
.text-titles1 {
    text-align: center; 
    margin-bottom: 10px; 
    font-size: 18px; 
}
.stepForm7 {
    .form-group {
        // margin-bottom: 10px !important; 
        .radioType1 {
            margin-bottom: 1rem;  
        }
    }
}
.tagType1 {
    span.selectData1 {  
        position: relative; 
        padding: 6px 20px;
        margin-top: 10px; 
        &>img {
            position: absolute;
            cursor: pointer;
            width: 8px;
            right: -3px;
            top: -4px;
        }
    }
}

.starQ {
    color: $col27; 
    top: 0;   
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;  
    &.starQ2 {
        top: 0px;   
    }
}
.stepForm7 {
    width: 100%; 
    &>div {
        width: 100%;   
    }
}
.examList {
    width: 100%; 
    .col2.fw600.mb-3 {
        font-size: 13px;
        margin-bottom: 0 !important;
        height: 38px; 
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.priceBox {
    .help-block {
        &.error-text {
            position: relative;
            flex-basis: 100%;
            top: 5px; 
        }   
        &.planError {
            top: -20px;  
        }
    }
}
.help-block {   
    &.planError {
        top: -20px;  
    }
}
.bottomFooter {   
    position: fixed; 
    bottom: 0;
    width: 100%;
    left: 0;
    height: 40px;
    z-index: 99999;     
    &.footerTwo {
        position: relative;  
    } 
}
img.fLogo { 
    width: 26px;  
}
.navBarBottom {
    margin-right: 0;
    position: fixed;
    bottom: 40px;
    flex: 100%; 
    width: 334px;
    max-width: 100%;
    text-align: left;
    padding-left: 20px;  
    background: $col7;
    padding-top: 10px; 
    z-index: 99; 
    .comment1 {
        margin-right: 15px;
        max-width: 40px;
        position: relative;
        top: 4px; 
    }
}

.planBox1 {
    border: 1px solid $col20; 
    padding: 20px 25px 0;
    border-radius: 6px; 
}
.planBox2 {
    padding: 30px 25px;
    .circleType3 {
        min-width: 70px;
        margin-right: 15px;
    }
}


body .contentDisabledNew  { 
    cursor: not-allowed;
    opacity: 1;
    pointer-events: none;
    &>select.selectTyp1 {
        background-color: $col49 !important; 
    }
}

.loaderMiddle {
    position: absolute;
    left: 50%;
    top: 50%;
}

.shadow4 {
    &.card {
        .card-body {
            padding-top: 5px;
            padding-bottom: 5px; 
            .form-label {
                font-size: 15px; 
            }
        }
    }
}

.loaderModal.modal {                         
    /*to show the loader align center*/  
    & .modal-dialog {
        justify-content: center; 
    }

    .modal-content {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;  
        .spinner-border {         
            position: absolute; 
            top: 45%;
            left: 48%;    
            // transform: translate(-50%, -50%); 
        }
    }

    & .modal-content {
        text-align     : center !important; 
        border         : 0 !important;
        background     : none !important;
        justify-content: center;
        width          : auto;
    }
}   

.planList {
    margin: 0;
    padding-left: 20px;
    li {
        color: $col5;
        margin-bottom: 20px; 
        font-weight: 500;
    }
}
.changePlan {
    padding: 14px 20px; 
}
.StripeElement {       
  border: solid 1px $col21 !important;
  border-radius: 8px !important; 
  background: white; 
  padding: .75rem .75rem; 
  height: 2.75rem !important; 
}
.topBox {
    padding: 10px 10px; 
    color: $col2; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    border-radius: 5px;
    border: solid 4px yellow;
    font-weight: 500; 
}
.bgLight {
    background-color: $col3;    
    position: relative;
}
.overflow-h {
    overflow: hidden; 
}
.btnRmRow {
    margin-right: 15px; 
}
.myProfile {
    .stepTitle {
        &:before {     
            content: "";
            background: $col7;  
            position: absolute;
            bottom: -5px; 
            left: 0;
            width: 93px;
            height: 4px;
            border-radius: 5px;
        }
        &:after {
          content: "";
          background: $col7;  
          position: absolute;
          position: absolute;
          bottom: -5px;
          left: 96px; 
          /* right: -32px; */
          width: 4px;
          height: 4px;
          border-radius: 50%;
        }
        img {
            &.pointer {
                transform: rotate(180deg); 
            }
            &.rotateArro {
                transform: rotate(0deg);   
            }
        }
        &+.col2.fw500.fs18.pointer {
           position: absolute;
           right: -130px;
        }
    }
}

.textcol8 {
    color: $col8 !important;
}

.planTable {  
    &.planUpdates {
        tr:nth-child(even) {  
            background: $col35;    
        }
        tr:nth-child(odd) {
            background: $col3;
        }  
        tr {  
            th {
                background: $col47;  
                color: $col3;  
            }
            td {
                padding:0 0.75rem;  
            }
        }
        thead {
            tr {
                th:nth-child(2) {
                    span {
                        &.priceOrder {
                            display: block; 
                            margin-top: -64px;
                            font-size: 18px;  
                        }
                    }
                }
            }
        }
    }
}

.blurBox {
    position: absolute;
    top: -8px;
    left: 0;
    z-index: 9;
    min-height: 158px;
    background: $col3;
}  

.tableGraph1 {
    .tableType2 {
        tr {
            th {
                padding: 10px 10px;
            }
            td {
                padding: 12px 10px; 
                text-align: left;
            }
        }
    }
}
.CircularProgressbar-text {
    font-weight: 600; 
}
.SettingType1 {
    .DropdownType1 {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: solid 2px $col1 !important;   
        display: inline-block;
        line-height: 18px;  
        padding: 0 0 !important;
        text-align: center;  
    }
    .dropdown-menu {
        background: $col35; 
        .dropdown-item {
            color: $col2;
            font-weight: 500;
            font-size: 15px; 
            &:hover, &:focus {
                background: $col3 !important;  
            }
        }
    }
    .dropdown-toggle::after {
        display: none;  
    }                         
}
.notifications {
    .dropdown-menu {
        background: $col35; 
        .dropdown-item {
            color: $col2;
            font-weight: 500;
            font-size: 15px; 
            &:hover, &:focus {
                background: $col3 !important;  
            }
        }
    }
}

svg > g[class^="raphael-group-"] > g:first-child {                                 
    // display: none;     
}    

.speedMeter {
    svg.speedometer {
        position: relative; 
        g {
            text {
                &.current-value {  
                    font-size: 28px !important;
                    //fill: $col50 !important;  
                }
            }
            &.pointer {
                display: none; 
            }
            &:nth-child(3) {
                position: relative; 
                transform: translate(100px, 68px) !important; 
            }
        }
    }
    span.titleGraph {  
        display: block;
        // text-align: center;  
        font-weight: 500;  
        padding-left: 0;
        // font-size: 16px;
        padding-left:17px;
        margin: auto;
        margin-top: -4px;
    }
}

.bgCol1.grayCol {  
    background: $col1; 
}

.grayCol {
    background: $col20;  
}

.wishListOne {
    width: 32px;
    height: 32px;
    line-height: 30px;
    border-radius: 50%; 
    text-align: center; 
    & img { 
        width: 16px;  
    }
}

@media (max-width: 1340px) {
    .speedMeter {
        span.titleGraph {    
            font-size: 14px;
            padding-left:25px;
        }
    }
    .pr0 {
        padding-right: 0;
    }
}

@media (min-width: 768px) {  
    .minh500 {
        min-height: 500px;
        background: $col3;
    }
    .pr-md-0 {
        padding-right: 0px;
    }
    .pl20 {
        padding-left: 20px !important;
    }
    .pr20 {
        padding-right: 20px !important; 
    }
    .bgBanner {
        .col-md-3, .col-md-4, .col-md-6, .col-md-10, .col-md-12 {
            padding-left: 10px;
            padding-right: 10px; 
        }
        .formLayoutUi {
            .form-group {
                margin-bottom: 30px;
                text-align: left;
            }
        }
        &.payMent {
            .formLayoutUi {
                .form-group {
                    margin-bottom: 15px; 
                    .inputType3 {
                        height: 2.5rem !important; 
                    } 
                }
                .tagType1 {
                    span {
                        padding: 3px 8px; 
                        margin-bottom: 10px; 
                    }
                }
            }
            .topHeaderBox {
                position: relative;
                z-index: 99; 
                height: 60px;
                display: flex;
                align-items: center;
                img.logos {
                    max-width: 35px; 
                }
            }
        }
    }
    .loginUsers {
        padding-left: 150px;
        padding-right: 150px; 
    }
    .payMent {
        .loginUsers {
            padding-top: 30px;
            padding-bottom: 30px; 
            padding-left: 60px; 
            padding-right: 60px;      
        } 
        .formLayoutUi {
            .form-group {
                position: relative; 
                margin-bottom: 24px !important; 
            }
            .help-block.error-text {
                &.errorBottom {
                    bottom: -22px; 
                }
            }
        }
    }
    .hrBorderTwo {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.smal-circular{
    width: 45px;
    height: 45px;
}

.serviceType1 {
    min-height: 105px !important; 
}

@media (max-width: 767px) {           
  .bgBanner {
      .studentBox {  
        padding-top: 10px;
        padding-bottom: 30px;
          img.logos {
              margin-top: 30px; 
          }
          .studentInfo {
              margin-top: 40px;
              flex-wrap: wrap;
              .boxLeft {
                  margin-right: 0;
                  margin-bottom: 16px;
              }
              .boxRight { 
                  margin-left: 0;
              }
          }
          &.registerUsers {
              padding-left: 20px;
              padding-right: 20px;
          }
      }
  }
  .align-xs-center {
      justify-content: center; 
   }
  .align-sm-center { 
      text-align: center; 
  }
  .btnType4 {
      &.mr-4 {
          margin-right: 0px !important; 
      }
  }
  .wizardLayout {
      .sidebarBox {
          display: none;
      }
      .rightBox {
          padding-top: 20px; 
          padding-left: 15px; 
          .graduation  {
              flex-wrap: wrap; 
              .form-check {
                  max-width: 44%;
                  margin-left: 5px;
                  margin-right: 5px;
                  margin-bottom: 10px;
              }
          }
          .hrBorder { 
              &+.text-right {
                  text-align: center !important; 
              }
          }
      }
  }
  
}

.left-pad {
    margin-left: 30px;
}

.mang-align {
    margin-bottom: -7px;
}

.btm-margin {   
    margin-bottom: 15px;
}

.topSet {
    position: relative;
    top: -7px;    
}

.quantity::-webkit-inner-spin-button, 
.quantity::-webkit-outer-spin-button {   
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.modal-tip .modal-content{
    border: 1.5px solid blue;
    border-radius: 10px;
}


@media (min-width: 1025px) and (max-width: 1300px) {  
    .bgBanner {
        .studentBox.registerUsers {
            padding-left: 110px;
            padding-right: 110px;  
        }
    }
}

@media (min-width: 1025px) and (max-width: 1370px) {       
    .bgBanner {
        .studentBox {
            min-height: 620px; 
        }
    }
    .wizardLayout {
        .sidebarBox {
            width: 300px;   
            padding-top: 0;
            .innerBox {   
                .nav-item {
                    padding-bottom: 0.8rem !important; 
                    span.titles {
                        font-size: 14px !important;
                    }
                }
            }
            .navBarBottom {
                width: 300px;   
            }
        }
    }
    .formLayoutUi {
        .form-group {
            margin-bottom: 22px !important; 
        }
    }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .wizardLayout {
        .sidebarBox {
            width: 275px; 
            .navBarBottom {
                width: 275px;
            }
        }
    }
}
@media (min-width: 1200px) and (max-width: 1370px) {
    .wizardLayout {
        .sidebarBox {
            width: 300px;
            .navBarBottom {
                width: 300px;
            }
        }
        .footerBotton {
            left: 24.9%;
        }
    }
}   

@media (min-width: 1700px) {
    .popularType1 {
        padding-left: 0;
    }
}


