$col1:#F9A52A;
$col2:#000000; 
$col3:#ffffff; 
$col4:#3F3D7B;  
$col5:#7C7C7C;     
$col6:#7B898B;
$col7:#38387A; 
$col8:#604BE8; 
$col9:#6076AF; 
$col10:#43B1C0; 
$col11:#DDFBE0; 
$col12:#9384FF;
$col13:#FFCA4A;
$col14:#FF8F5E; 
$col15:#6BD8DE; 
$col16:#DF7FD0;
$col17:#5BDBB4;
$col18:#D6D6D6; 
$col19:#143A41; 
$col20:#CCCCCC;
$col21:#9C9C9C;
$col22:#2666B2;
$col23:#3F5793; 
$col24:#2E8A42;
$col25:#fcfbff;
$col26:#E8E8E8;
$col27:#FF0000;  
$col28:#F4F1FA;  
$col29:#7E7E7E;
$col30:#FF7C6C;
$col31:#D3D3D3;
$col32:#E4E4E4; 
$col33:#6A6B6B;
$col34:#F3F3F3;  
$col35:#ECECFF;
$col36:#3E3E7D;
$col37:#C9C9C9;  
$col38:#FF0000;   
$col39:rgba(96, 75, 232, 0.7);
$col40:#F8F8F8; 
$col41:#5647c8;
$col42:#D9DBE1; 
$col43:#6E6D7E;  
$col44:#FAF9FF;  
$col45:#353535;
$col46:#bcbcbc;   
$col47:#002572;
$col48:#FFDB1B;   
$col49:#e9ecef;
$col50:#89D667;  
.col1 {     
    color:$col1;  
}  
.col2 { 
    color:$col2 !important;  
}
.col3 { 
    color:$col3;
}
.col4 { 
    color:$col4;
}
.col5 { 
    color:$col5;
}
.col6 { 
    color:$col6;
}
.col7 { 
    color:$col7;
}
.col8 { 
    color:$col8;
}
.col9 { 
    color:$col9;
}
.col10 { 
    color:$col10; 
}
.col11 { 
    color:$col11;
}
.col12 { 
    color:$col12;
}
.col13 { 
    color:$col13;
}
.col14 { 
    color:$col14;
}
.col15 { 
    color:$col15;
}
.col17 { 
    color:$col17;
}
.col18 { 
    color:$col18;  
}
.col19 { 
    color:$col19;
}
.col20 { 
    color:$col20;
}
.col20 { 
    color:$col20;
}
.col21 { 
    color:$col21;
}
.col22 { 
    color:$col22;  
}
.col23 { 
    color:$col23;  
}
.col24 { 
    color:$col24;   
}
.col25 { 
    color:$col25;   
}
.col26 { 
    color:$col26; 
}
.col27 { 
    color:$col27; 
}
.col28 { 
    color:$col28; 
}
.col29 { 
    color:$col29; 
}
.col30 { 
    color:$col30;  
}
.col31 { 
    color:$col31;  
}
.col32 { 
    color:$col32;  
}
.col33 { 
    color:$col33;  
}
.col34 { 
    color:$col34;    
}
.col35 {
    color:$col35; 
}
.col36 {
    color:$col36;     
}
.col37 {
    color:$col37;       
}
.col38 {  
    color:$col38;       
}
.col39 {  
    color:$col39;        
}
.col40 {  
    color:$col40;        
}
.col41 {  
    color:$col41;        
}
.col42 {  
    color:$col42;        
}
.col43 {  
    color:$col43;         
}
.col44 {  
    color:$col44;          
}
.col45 {  
    color:$col45;            
}
.col46 {  
    color:$col46;            
}
.col47 {  
    color:$col47;            
}
.col48 {  
    color:$col48;              
}
.col49 {  
    color:$col49;                
}
.col50 {  
    color:$col50;                
}
// font
$fontFamily: 'Encode Sans', sans-serif !important; 
$baseFontSize: 16px !important; 
$fs10 : 0.625rem;
$fs11 : 0.6875rem;
$fs12 : 0.75rem;
$fs13 : 0.813rem;
$fs14 : 0.875rem !important; 
$fs15 : 0.9375rem;
$fs17 : 1.063rem; 
$fs18 : 1.125rem;
$fs20 : 1.25rem;
$fs21 : 1.3125rem;
$fs22 : 1.375rem;
$fs23 : 1.4375rem;
$fs24 : 1.5rem;
$fs25 : 1.5625rem;
$fs26 : 1.625rem;
$fs27 : 1.6875rem;
$fs28 : 1.75rem;
$fs30 : 1.87rem;
.fs10 {
    font-size: $fs10;
}
.fs11 {
    font-size: $fs11;
}
.fs12 {
    font-size: $fs12;
}
.fs13 {
    font-size: $fs13;
}
.fs14 {
    font-size: $fs14;
}
.fs15 {
    font-size: $fs15;
}
.fs17 {
    font-size: $fs17;
}
.fs18 {
    font-size: $fs18;
}
.fs20 {
    font-size: $fs20;
}
.fs21 {
    font-size: $fs21;
}
.fs22 {
    font-size: $fs22;
}
.fs23 { 
    font-size: $fs23;
}
.fs24 {
    font-size: $fs24;
}
.fs25 {
    font-size: $fs25;
}
.fs26 {
    font-size: $fs26;
}
.fs27 {
    font-size: $fs27;
}
.fs28 {
    font-size: $fs28;
}
.fs30 {
    font-size: $fs28;
}

// font-weight 
$fw400: 400 !important;
$fw500: 500 !important;
$fw600: 600 !important;
$fw700: 700 !important;
.fw400 {
    font-weight: $fw400;
}
.fw500 {
    font-weight: $fw500;
}
.fw600 {
    font-weight: $fw600;
}
.fw700 {
    font-weight: $fw700;  
}









