.btnType1 {
    background: transparent !important;
    color: $col8 !important;
    border: none !important; 
    box-shadow: none !important; 
    outline: 0;
    padding: 0 0 !important; 
    font-size: $fs14 !important; 
    font-weight: $fw600 !important; 
}

.btnAddRow { 
  border-radius: 30px !important;
  background: $col1 !important;
  border: solid 1px $col1 !important; 
  height: 2rem !important;
  padding: 0px 10px!important; 
  color: $col3 !important;
  font-weight: $fw600;
  font-size: $fs15 !important; 
  text-decoration: none; 
  outline: 0; 
  &.compareBtn1 {
     width: 110px;
     font-weight: 500;
     font-size: 16px !important;
  } 
}
.btnRmRow { 
  border-radius: 30px !important;
  background: $col3 !important;
  border: solid 1px $col33 !important; 
  height: 2rem !important;
  padding: 0px 10px!important; 
  color: $col33 !important;
  font-weight: $fw600;
  font-size: $fs15 !important; 
  text-decoration: none; 
  outline: 0; 
}

.btnType2 { 
    border-radius: 30px !important;
    background: $col1 !important;
    border: solid 1px $col1 !important; 
    height: 3rem !important;
    padding: 0px 36px!important; 
    color: $col3 !important;
    font-weight: $fw600;
    font-size: $fs20 !important; 
    text-decoration: none; 
    outline: 0; 
    &.compareBtn1 {
       width: 110px;
       font-weight: 500;
       font-size: 16px !important;
    } 

  }
  
  .btnType2:hover,
  .btnType2:focus,
  .btnType2:active,
  .btnType2:active:focus {
    background: $col1 !important;
    border: solid 1px $col1 !important; 
    color: $col3 !important;
    box-shadow: none !important;
  }

  .btnType3 { 
    border-radius: 30px !important;
    background: transparent !important;
    border: solid 1px $col22 !important; 
    height: 2.5rem !important;
    padding: 0px 24px!important; 
    color: $col22 !important;
    font-weight: $fw600 !important;
    text-decoration: none; 
    outline: 0; 
    &.updateBtn {
        background: $col8 !important; 
        border: solid 1px $col8 !important; 
        color: $col3 !important;
        &:hover, &:focus, &:active, &:active:focus {  
          background: $col8 !important; 
          border: solid 1px $col8 !important; 
          color: $col3 !important;
        }
    }
    &.updateBlue {
      background: $col4 !important; 
      border: solid 1px $col4 !important; 
      color: $col3 !important;
      &:hover, &:focus, &:active, &:active:focus {  
        background: $col4 !important; 
        border: solid 1px $col4 !important; 
        color: $col3 !important;
      }  
    }
    &.fillRed { 
        background: $col14 !important; 
        border: solid 1px $col14 !important; 
        color: $col3 !important;
        &:hover, &:focus, &:active, &:active:focus {  
          background: $col14 !important; 
          border: solid 1px $col14 !important; 
          color: $col3 !important;
        }
    }
  }
  
  .btnType3:hover,
  .btnType3:focus,
  .btnType3:active,
  .btnType3:active:focus {
    border: solid 1px $col22 !important; 
    color: $col22 !important;
    box-shadow: none !important;
  }

  .btnType4 { 
    border-radius: 30px !important; 
    width: 155px;
    background: $col1 !important;
    border: solid 1px $col1 !important; 
    height: 2.5rem !important;
    padding: 0px 30px!important; 
    color: $col3 !important;
    text-decoration: none; 
    outline: 0; 

  }

  .bubble2 .loader {
      -moz-transform: scale(0.25);    
  }
  
  .btnType4:hover,
  .btnType4:focus,
  .btnType4:active,
  .btnType4:active:focus {
    background: $col1 !important;
    border: solid 1px $col1 !important; 
    color: $col3 !important;
    box-shadow: none !important;
  }

  .btnType5 { 
    border-radius: 30px !important;
    background: $col1 !important;
    border: solid 1px $col1 !important; 
    height: 2rem !important;
    padding: 0px 15px!important; 
    color: $col3 !important;
    text-decoration: none; 
    outline: 0;  
    &.btnsmall5 {    
      padding: 0px 10px!important;   
      font-size: 14px !important; 
    }
    &.opacityActive { 
        opacity: 0.3;    
    }
    &.upgradeBtn { 
        background: $col8 !important; 
        border: solid 1px $col8 !important; 
        &:hover {
          background: $col8 !important; 
          border: solid 1px $col8 !important; 
        }
        &:focus {
          background: $col8 !important; 
          border: solid 1px $col8 !important; 
        }
        &:active {
          background: $col8 !important; 
          border: solid 1px $col8 !important; 
          &:focus {
            background: $col8 !important; 
            border: solid 1px $col8 !important; 
          }
        }
    }
  }  
  
  .btnType5:hover,
  .btnType5:focus,
  .btnType5:active,
  .btnType5:active:focus {  
    background: $col1 !important;
    border: solid 1px $col1 !important; 
    color: $col3 !important;
    box-shadow: none !important;
  }

  .btnType6 {  
    border-radius: 30px !important;
    background: transparent !important;
    border: solid 1px $col21 !important;  
    height: 2rem !important; 
    padding: 0px 25px!important; 
    color: $col21 !important;
    text-decoration: none; 
    outline: 0;  
    &.btnsmall6 {
      padding: 0px 10px!important; 
      font-size: 14px;  
    }
    &.opacityActive {   
        opacity: 0.3;    
    }
  }
  
  .btnType6:hover,
  .btnType6:focus,
  .btnType6:active,
  .btnType6:active:focus {  
    background: transparent !important;
    border: solid 1px $col33 !important; 
    color: $col33 !important;
    box-shadow: none !important;
  }

  .btnType7 { 
    border-radius: 30px !important;
    background: $col3 !important;
    border: solid 1px $col33 !important; 
    height: 3rem !important;
    padding: 0px 36px!important; 
    color: $col33 !important;
    font-weight: $fw600;
    font-size: $fs20 !important; 
    text-decoration: none; 
    outline: 0; 
  }
  
  .btnType7:hover,
  .btnType7:focus,
  .btnType7:active,
  .btnType7:active:focus {
    background: $col3 !important;
    border: solid 1px $col33 !important; 
    color: $col33 !important;
    box-shadow: none !important; 
  }

  .btnType8 { 
      width: 110px;
      padding: 0px 22px !important;
      background: transparent !important;
      border: solid 1px $col21 !important; 
      color: $col21 !important; 
  }

  .btnType8 { 
    width: 110px;
    border-radius: 30px !important;
    background: transparent !important;
    border: solid 1px $col21 !important; 
    height: 3rem !important;
    padding: 0px 22px !important;
    color: $col21 !important; 
    font-weight: $fw500;
    text-decoration: none; 
    outline: 0; 
  }
  
  .btnType8:hover,
  .btnType8:focus,
  .btnType8:active,
  .btnType8:active:focus {
    background: transparent !important;
    border: solid 1px $col21 !important; 
    color: $col21 !important;
    box-shadow: none !important; 
  }

.DropdownType1 {   
    position: relative;
    background: none !important;
    border: none !important;
    padding: 5px 0 !important;
    outline: 0; 
    &:hover {
        box-shadow: none !important;
    }
    &:focus {
      box-shadow: none !important;
  }
  span {  
      position: absolute;
      top: 5px;
      right: -4px;
      width: 16px;
      height: 16px;
      line-height: 12px; 
      border: 1px solid $col27; 
  }
}