.inputType1 {
    border: solid 1px $col21 !important;
    height: 2.75rem !important;
    border-radius: 8px !important;
    color: $col2 !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
    outline: 0;
    &.select2 {
      height: 2.25rem !important;
      border-radius: 4px !important;
      font-weight: 400 !important;
      // font-size: 14px;       
    }
    &:hover {
      box-shadow: none !important;
    }
    &:focus {
      box-shadow: none !important;
    }
    &.borderTop1 {
      border: solid 1px $col7 !important;
      color: $col7 !important;
      &::placeholder {
        color: $col21 !important;
        font-weight: 500 !important;
      }
    }
  }
  input.inputType1 {
    &:focus {
      border: solid 1px $col4 !important;
    }
  }
  textarea.inputType1 {
    height: 6rem !important;
  }
  .inputType2 {
    border: solid 1px $col21 !important;
    height: 2.75rem !important;
    border-radius: 8px !important;
    color: $col2 !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
    width: 110px !important;
    padding: 0.375rem 0.5rem !important;
    text-align: center;
    // margin: auto;
    outline: 0;
    &:hover {
      box-shadow: none !important;
    }
    &:focus {
      box-shadow: none !important;
    }
    &::placeholder {
      font-size: 12px;
    }
  }
  .input-group-prepend {
    &.inputGroup1 {
      min-width: 45px;
      background: $col28;
      border: solid 1px $col21;
      text-align: center;
      border-radius: 8px 0px 0px 8px !important;
      .input-group-text {
        padding: 0 0;
        background: transparent;
        border: none;
        margin: auto;
      }
    }
  }
  .inputType3 {
    border: solid 1px $col21 !important;
    height: 2.75rem !important;
    border-radius: 0px 8px 8px 0px !important;
    color: $col2 !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
    outline: 0;
    &:hover {
      box-shadow: none !important;
    }
    &:focus {
      box-shadow: none !important;
    }
    &.borderTop1 {
      border: solid 1px $col7 !important;
      color: $col7 !important;
      &::placeholder {
        color: $col21 !important;
        font-weight: 500 !important;
      }
    }
  }
  .selectTyp1 {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: url("../../images/svg/arrow.svg") no-repeat 94% 50% $col3 !important;
    background-color: $col3 !important;
    text-align-last: left !important;
    border: 1px solid $col21 !important;
    border-radius: 8px !important;
    height: 2.85rem !important;
    padding: 0 2.2rem 0 1rem !important;
    outline: 0;
    color: $col2 !important;
    font-weight: 500 !important;
    &:hover,
    &:focus {
      box-shadow: none !important;
    }
    &.select2 {
      height: 2.25rem !important;
      border-radius: 4px !important;
      font-weight: 400 !important;
    }
    
  }
  
  .col-lg-10,
  .col-md-10,
  .col-md-11,
  .col-lg-11,
  .col-md-12,
  .col-lg-12 {
    .selectTyp1 {
      background: url("../../images/svg/arrow.svg") no-repeat 97.5% 50% $col3 !important;
    }
  }
  
  .col-lg-6,
  .col-md-6 {
    .selectTyp1 {
      background: url("../../images/svg/arrow.svg") no-repeat 95.5% 50% $col3 !important;
    }
  }
  
  .col-lg-4,
  .col-md-4,
  .col-lg-3,
  .col-md-3,
  .col-lg-2,
  .col-md-2 {
    .selectTyp1 {
      background: url("../../images/svg/arrow.svg") no-repeat 94% 50% $col3 !important;
    }
  }

  body {    
    .selectTyp1 { 
      &:disabled {
        background: url("../../images/svg/arrow.svg") no-repeat 97% 50% $col49 !important;
      }
    }
  }
  
  
  .help-block.error-text {
    position: absolute;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .searchType1 {
    border: solid 1px $col26 !important;
    height: 2.5rem !important;
    border-radius: 8px !important;
    border-radius: 30px !important;
    padding-left: 20px !important;
    padding-right: 45px !important;
    color: $col2 !important;
    outline: 0;
    &:hover {
      box-shadow: none !important;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
  
  .selectTyp2 {
    .select__control {
      min-height: 2.8rem;
      border: 1px solid $col21 !important;
      border-radius: 8px !important;
      padding-left: 8px;
      .css-1okebmr-indicatorSeparator {
        width: 0;
      }
      .css-tlfecz-indicatorContainer {
        & > svg {
          & > path {
            background: url("../../images/svg/arrow.svg") no-repeat 94% 50% !important;
          }
        }
      }
      &:focus,
      &:hover {
        border: 1px solid $col21 !important;
        box-shadow: none;
      }
    }
  }
  
  .selectTyp3 {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: url("../../images/svg/yellowdown.svg") no-repeat 99% 50% $col41 !important;
    text-align-last: left !important;
    border-radius: 8px !important;
    height: 2rem !important;
    padding: 0 0rem 0 0rem !important;
    border: solid 1px transparent !important;
    color: $col3 !important;
    font-weight: $fw500;
    outline: 0;
    &:hover,
    &:focus {
      box-shadow: none !important;
    }
    &.select2 {
      height: 2.25rem !important;
      border-radius: 4px !important;
      font-weight: 600 !important;
    }
  }
  
  .checkboxTyp1,
  .checkboxTyp2 {
    color: $col11;
    padding-left: 0;
    cursor: pointer;
  
    & input {
      display: none;
    }
  
    & label {
      position: relative;
      padding-left: 2rem;
      line-height: 1.2rem;
      cursor: pointer;
      color: $col5;
      font-weight: 400;
      margin-top: 25px;
    }
    /* Style the artificial checkbox */
    & label:after {
      content: "";
      height: 1.2rem;
      width: 1.2rem;
      border: 2px solid $col2;
      background-color: $col3;
      border-radius: 2px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    /* Style its checked state...with a ticked icon */
    [type="checkbox"]:checked + label:before {
      content: url("../../images/svg/checked.svg");
      height: 1.2rem;
      line-height: 0.75rem;
      width: 1.2rem;
      border: 2px solid $col8;
      display: inline-block;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: $col8;
    }
  
    [type="checkbox"]:checked + label.bg-colors:before {
      content: url("../../images/svg/checked.svg");
    }
    &.form-check {
      padding-left: 0; 
    }
  }
  
  .checkboxTyp1 {
    &.form-group {
      margin-top: -15px;
      margin-bottom: 0;
    }
    &.checkTy1 {
        // position: relative;  
      .form-check {
        padding-left: 0;
        [type="checkbox"]:checked + label:before {
            opacity: 0; 
        }
        &.form-checkSelect {
            [type="checkbox"]:checked + label:before {
                opacity: 1;  
            }
        }
      }
      label {
        margin-top: 0;
      }
      .form-check {                           
        &.form-checkSelect {
          
        }
      }
    }
  
    &.termOne {
      .form-check-label {
        transition: 0.3s all;
        &:hover {
          color: $col8;
          text-decoration: underline;
        }
      }
    }
  }
  
  .checkboxTyp3 {
    color: $col11;
    padding-left: 0;
    cursor: pointer;
  
    & input {
      display: none;
    }
  
    & label {
      position: relative;
      padding-left: 2rem;
      line-height: 1.2rem;
      cursor: pointer;
      color: $col5;
      font-weight: 400;
      margin-top: 25px;
    }
    /* Style the artificial checkbox */
    & label:after {
      content: url("../../images/svg/check1.svg");
      height: 1.2rem;
      width: 1.2rem;
      //   border        : 2px solid $col2;
      //   background-color  :$col3;
      //   border-radius: 2px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    /* Style its checked state...with a ticked icon */
    [type="radio"]:checked + label:before {
      content: url("../../images/svg/check3.svg");
      height: 1.2rem;
      line-height: 0.75rem;
      width: 1.2rem;
      //   border        : 2px solid $col8;
      display: inline-block;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      //   background-color  :$col8;
    }
  
    [type="radio"]:checked + label.bg-colors:before {
      content: url("../../images/svg/check3.svg");
    }
    &.form-check {
      padding-left: 0;
    }
  }
  
  //   4 type
  
  .checkboxTyp4 {
    color: $col11;
    padding-left: 0;
    cursor: default;
  
    & input {
      display: none;
    }
  
    & label {
      position: relative;
      padding-left: 2rem;
      line-height: 1.2rem;
      cursor: default;
      color: $col5;
      font-weight: 400;
      margin-top: 25px;
    }
    /* Style the artificial checkbox */
    & label:after {
      content: url("../../images/svg/gray-check.png");
      height: 1.2rem;
      width: 1.2rem;
      //   border        : 2px solid $col2;
      //   background-color  :$col3;
      //   border-radius: 2px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    /* Style its checked state...with a ticked icon */
    [type="radio"]:checked + label:before {
      content: url("../../images/svg/green-check.png");
      height: 1.2rem;
      line-height: 0.75rem;
      width: 1.2rem;
      //   border        : 2px solid $col8;
      display: inline-block;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      //   background-color  :$col8;
    }
  
    [type="radio"]:checked + label.bg-colors:before {
      content: url("../../images/svg/green-check.png");
    }
    &.form-check {
      padding-left: 0;
    }
  }
  
  .formCheckboxs {
    .form-check {
      margin-top: -10px;
    }
  }
  
  .checkboxTyp1 {
    &.mt0 {
      label {
        margin-top: 0;
      }
    }
  }
  
  .graduation {
    .form-check {
      background: $col3;
      width: 144px;
      height: 44px;
      line-height: 42px;
      border: solid 1px $col20;
      border-radius: 8px;
      text-align: center;
      padding-left: 0;
      margin-right: 30px;
  
      .form-check-input {
        width: 144px;
        height: 44px;
        opacity: 0;
        margin-top: 0rem;
        margin-left: 0rem;
        left: 0;
        cursor: pointer;
      }
      .form-check-label {
        color: $col6;
        font-weight: $fw500;
      }
      &.active {
        border: solid 1px $col7;
        .form-check-label {
          color: $col7;
        }
      }
    }
    &.boxOne {
      .form-check {
        width: 100px;
        .form-check-input {
          width: 100px;
        }
      }
    }
  }
  .form-check {
    input[type="checkbox"] {
      opacity: 1;
    }
  }
  .formCheckboxs {
    .form-check {
      input {
        width: 17px;
        height: 17px;
        top: 1px;
      }
    }
  }
  .formCheckboxOne {
    .form-check {
      input {
        width: 17px;
        height: 17px;
        top: 1px;
      }
    }
    label {
      padding-left: 1.6rem;
    }
  }
  .formCheckboxOne {
    .form-check {
      margin-top: -22px;
    }
  }
  .switchType1 {
    input[type="checkbox"] {
      box-shadow: none !important;
      outline: 0;
      &:focus {
        box-shadow: none !important;
        outline: 0;
      }
    }
    &.custom-switch {
      .custom-control-label {
        cursor: pointer;
        &::before {
          width: 1.9rem;
          border: solid 1px $col5 !important;
          box-shadow: none;
        }
        &::after {
          top: calc(0.25rem + -1px);
          left: calc(-2.25rem + 0px);
          width: calc(1.4rem - 4px);
          height: calc(1.4rem - 4px);
          background-color: $col37;
          box-shadow: none;
        }
      }
      .custom-control-input:checked ~ .custom-control-label::after {
        background-color: $col1;
        transform: translateX(0.75rem);
      }
      .custom-control-input:checked ~ .custom-control-label::before {
        background-color: $col3;
        border: solid 1px $col1 !important;
      }
      .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: none !important;
      }
    }
  }
  
  .radioType1 {
    display: inline-flex !important;
    border: solid 2px $col20;
    min-width: 160px;
    height: 2.75rem !important;
    margin-right: 1.5rem;
    border-radius: 8px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0px !important;
    justify-content: center;
    .form-check-input {
      height: 40px;
      min-width: 160px;  
      opacity: 0;
      display: block;
      cursor: pointer;
      top: -5px;
      &:after {
        content: "";
        height: 2rem;
        width: 2rem;
        border: 2px solid $col23 !important;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        left: 0;
        border-radius: 50%;
      }
    }
  
    &:hover,
    &:focus {
      border: solid 2px $col4;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      .form-check-label {
        color: $col4 !important;
        font-weight: 500;
      }
    }
    &.actives {
      border: solid 2px $col4 !important;
      color: $col4 !important;
      font-weight: 500;
      background: $col35;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
  }
  .radioOne {
    .radioType1 {
      min-width: 160px; 
      .form-check-input {
          min-width: 160px; 
      }
      .form-check-label {
         padding: 0 10px; 
      }
      &.radio2 {
        min-width: 160px;  
      }
    }
  }
  
  .radioTwo {
    .radioType1 {
      &:nth-child(3) {
        min-width: 210px;
      }
    }
  }
  
  .selectTyp1 {
    &.selectNumber1 {
      height: 2rem !important;
    }
  }
  
  .checkboxTyp5 {
      min-width: 18px; 
      height: 18px; 
      margin-right: 15px;   
  }

  .minW220 { 
      min-width: 220px;  
  }